<!DOCTYPE html>
<html>
	<head>
        <title>PSX Predictor</title>
    </head>
    <body>
        <h1>Dashboard</h1>
        <input id="click" type="button" onclick="redirect()" value="Predict your own values"/>
        <div class="container">
            <h3>Predicted Close value based on trained and tested dataset of various banks</h3>
            <h5>Prediction is entered every 60 seconds</h5>
            <canvas id="stocks" width="200" height="100"></canvas>
        </div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>

    <script>
        function redirect() {
            data = {"name": "Flask"}
            fetch(
                'http://127.0.0.1:8090/predict',
                {
                    "method": "GET",
                    "body": JSON.stringify(data)
                })
            .then(data => {
                console.log(response.text)
            });
            window.location.href = "http://127.0.0.1:8090/predict"
        }

        $(document).ready(function() {
            const context = document.getElementById("stocks").getContext("2d");

            const stocks = new Chart(context, {
                type: "line",
                data: {
                    datasets: [{ label: 'Close', }],
                },
                options: {
                    borderWidth: 10,
                    borderColor: ['rgba(0,127,127,1)'],
                },
            });

            function addData(label, data) {
                stocks.data.labels.push(label);
                stocks.data.datasets.forEach((dataset) => {
                    dataset.data.push(data);
                });
                stocks.update();
            }

            function removeFirstData() {
                stocks.data.labels.splice(0,1);
                stocks.data.datasets.forEach((dataset) => {
                    dataset.data.shift();
                });
            }

            const MAX_DATA_COUNT = 100;
            var socket = io.connect();

            socket.on('updateData', function(msg) {
                if (stocks.data.labels.length > MAX_DATA_COUNT) {
                    removeFirstData();
                }
                addData(msg.date, msg.value);
            });
        })
    </script>
</html>