<!DOCTYPE html>
<html>
	<head>
        <title>PSX Predictor</title>
    </head>
    <body>
        <h1>Something about prediction</h1>
        <input id="click" type="button" onclick="redirect()" value="Watch live data"/>
        <form onsubmit="predict()" enctype="multipart/form-data" action="http://localhost:8090/test" method="POST">
            <input type="file" id="testingFile" name="file" value="Upload CSV file"/>
            <input type="submit"/>
        </form>
    </body>
    <script>
        function redirect() {
            data = {"name": "Flask"};
            fetch(
                'http://127.0.0.1:8090/',
                {
                    "method": "POST",
                    "body": JSON.stringify(data)
                }
            )
            .then(data => {
                console.log(response.text)
            });
            window.location.href = "http://127.0.0.1:8090/";
        }

    </script>
</html>